/*GENERAL*/
#slogan{
  padding-bottom: 0px;
  width: 100%;
}

#btn-availability{
  padding-top: 0px;
  width: 100%;
}

#rock{
  font-family: quicksand;
  padding-top:10px;
  padding-bottom: 6px;
  width: 100%;
}

#live{font-family: 'Gloria Hallelujah', cursive;
  padding-left: 5px
}
h1{
  font-size: 25px ;
  font-family: quicksand;
}
/*RWD Grid-view W3Schools*/
* {
  box-sizing: border-box;
}
/* Small screen devices: */
[class*="column-"] {
  width: 100%;
  text-align: center;
}


[class*="column-"] {
  float: left;
  padding: 15px;
 
}
.grid-row::after {
  content: "";
  clear: both;
  display: table;
}

/* Main Image */
.col-mainIMG{
 margin-top: 55px;
 padding: 0px;
}
.mainIMG{
  width: 100%;
}


/*Bootstrap navigation bar**********************************************/

/* centered navigation menu */
.navbar-nav{
  margin: auto;
}
/*collapsed nav icon (toggler)*/
.custom-toggler.navbar-toggler {
  border: none;}

.custom-toggler .navbar-toggler-icon {  
  width: 45px;
  background-image: url("../../assets/images/toggler.png");}
  
.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;}

/*LOGO (in the navbar)*/
.navbar-brand{
  font-family: 'Gloria Hallelujah', cursive;
}
#navLogo{
  color: #904B3A;
}

/* Availability & Inquire button */
.btn-success{
  background-color: #608C5D
}




/* Availability calendar   ***************************************/

* {box-sizing: border-box;}
        ul {list-style-type: none;}
        body {font-family: Verdana, sans-serif;}
      
        
        .month {
          padding: 70px 25px;
          width: 100%;
          background: #608C5D;
          text-align: center;
        }
        
        .month ul {
          margin: 0;
          padding: 0;
        }
        
        .month ul li{
          color: white;
          font-size: 20px;
          text-transform: uppercase;
          letter-spacing: 3px;
        }
        
        .month .prev {
          float: left;
          padding-top: 10px;
        }
        
        .month .next {
          float: right;
          padding-top: 10px;
        }
        
        .weekdays {
          margin: 0;
          padding: 10px 0;
          background-color: #ddd;
        }
        
        .weekdays li {
          display: inline-block;
          width: 13.6%;
          color: #666;
          text-align: center;
        }
        
        .days {
          padding: 10px 0;
          background: #eee;
          margin: 0;
        }
        
        .days li {
          list-style-type: none;
          display: inline-block;
          width: 13.6%;
          text-align: center;
          margin-bottom: 5px;
          font-size:12px;
          color: #777;
        }
        
        .days li .available {
          padding: 5px;
          color: #608C5D;
          font-weight: bolder;
          border: solid 1px  #608C5D;
          
        }
        .squareBox{
            padding-left: 6px;
            padding-right: 3px;
            padding-top: 2px;
            padding-bottom: 2px;
            border:solid 1px #608C5D;
            color: #608C5D;
            font-weight: bolder;
        }

        #availableDates{
           padding-top: 5px;
        }

        #modalTxt{
          color: #666;
        }

        #btn-inquire{
          margin-left: 12px;
        }
        #btn-close{
          margin-right: 12px;
          
        }
        /* Add media queries for smaller screens */
      
        @media screen and (max-width:770px) {
          .weekdays li, .days li {width: 12.9%;}
        }
        @media screen and (max-width:720px) {
          .weekdays li, .days li {width: 12.9%;}
        }
        
        @media screen and (max-width: 420px) {
          .weekdays li, .days li {width: 12.5%;}
          .days li .active {padding: 2px;}
        }
        
        @media screen and (max-width: 290px) {
          .weekdays li, .days li {width: 12.2%;}
        }
        @media screen and (min-width:769px) {
          .weekdays li, .days li {width: 12.9%;}
        }

        /* Calendar carousel coontrols */
        .carousel-control-prev-icon{ position:absolute;
                                    top: 90px
         }
        .carousel-control-next-icon{ position: absolute;
                                     top: 90px
        }


/*grid-view for bigger screens*/

        @media only screen and (min-width: 800px) {
          /* desktop: */ 
          .column-1 {width: 8.33%;}
          .column-2 {width: 16.66%;}
          .column-3 {width: 25%;}
          .column-4 {width: 33.33%;}
          .column-5 {width: 41.66%;}
          .column-6 {width: 50%;}
          .column-7 {width: 58.33%;}
          .column-8 {width: 66.66%;}
          .column-9 {width: 75%;}
          .column-10 {width: 83.33%;}
          .column-11 {width: 91.66%;}
          .column-12 {width: 100%;}

          
        }
/* Main content control for bigger screens*/
@media only screen and (min-width: 1024px) {
  /* desktop: */ 
  
#slogan{padding-top: 15px;
        padding-right: 0px;
        padding-left: 13px;
        text-align: left;
  width: 55%;
        }
#slogan h1{font-size: 23px;}

 #rock {padding-top: 20px;
        padding-right: 0px;
        text-align: right;
        width: 30%;
        
  }
 #btn-availability{padding-top: 15px;
                  padding-left: 0px;
                  text-align: right;
                  width: 15%;
 }
 .positionControl{text-align: right;}
        
}
@media only screen and (min-width: 1190px) {
  /* desktop: */ 
  

      
#slogan h1{font-size: 26px;}
#rock{font-size: 18px;
         width: 33%;
         padding-right: 8px;
        
      }
#btn-availability{width:12%}   
}