/*RWD Grid-view W3Schools******************/
* {
  box-sizing: border-box;
}
[class*="column-"] {
  float: left;
  padding: 0px;

}
.grid-row::after {
  content: "";
  clear: both;
  display: table;
}
/******************************************/


/*GENERAL***********************************/
.container-main{
  margin-top: 65px;
  font-family: quicksand;
  color: rgb(41, 40, 40);

}
#slogan{
  padding-bottom: 0px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  
}

#btn-availability{
  padding-top: 0px;
  
}
.header{
  padding-left: 15px;
  padding-right: 15px;
}
#rock{
  font-family: quicksand;
  padding-top:10px;
  padding-bottom: 6px;
  
  font-size: 1.2em ;
}

#live{font-family: 'Gloria Hallelujah', cursive;
  padding-left: 5px
}
#theBand{
  font-family: 'Gloria Hallelujah', cursive;
  color: #0c4d0c;
}
h1{
  font-size: 25px ;
 
}

img{
 
  width: 100%;
}
a{
  color: #608C5D;
  font-weight: bold;
}
a:hover{
  color: #608C5D;
  text-shadow: 0px 0px 0px #608C5D;
}
.artist{
  padding: 15px;
}
.artistIMG{
  padding: 10px;
  border: 1px solid rgb(209, 207, 207);
  margin-bottom: 10px;
}
#bio{
  padding-left: 15px;
  padding-right: 15px;
}
/*Colored line*/
.line{
  width: 100%;
  height: 4px;
}
.red{
  float: left; 
  width: 33%; 
  height: inherit;
  background-color: #904B3A;
}
.green{
  float: left; 
  width: 33%;
  height: inherit;
  background-color: #608C5D;
}
.yellow{
  float: left;
  width: 34%;
  height: inherit ;
  background-color: #B59B4D;
}



.video-container, .audio-container, .album-container, .band-container{
width: 100%;
max-width: 230px;
margin: auto;
padding: 15px;

}

 /*Video link*/
.video-container:hover > .videoBox {
  box-shadow: 0px 0px 9px 0px #904B3A;
  border-radius: 20px;
}
#videoLink{
  color: #904B3A;
}
#videoLink:hover{
  text-shadow: 0px 0px 1px #904B3A;
}



/*Audio link*/
.audio-container:hover > .audioBox{
  box-shadow: 0px 0px 9px 0px #608C5D;
  border-radius: 14px;
}
#audioLink{
color: #608C5D;
}
#audioLink:hover{
  text-shadow: 0px 0px 1px #608C5D;
}


/*The band link*/
.band-container:hover > .bandBox{
  box-shadow: 0px 0px 9px 0px #B59B4D;
  border-radius: 14px;
}
#theBandLink{
  color: #B59B4D;
}
#theBandLink:hover{
  text-shadow: 0px 0px 1px #B59B4D;
}

/*Album link*/
.album-container:hover > .albumBox{
  
  box-shadow: 0px 0px 9px 0px #0c4d0c;
  border-radius: 14px;
}
#albumLink{
  color: #608C5D;
}
#albumLink:hover{
  text-shadow: 0px 0px 1px #608C5D;
}





.audioPlayerIframe{
  padding: 6px;
  border: solid 1px rgb(223, 221, 221);
  width: 100%;
  min-height:360px;
  min-width: 316px;
  max-width: 420px;
  max-height: 450px;
}
/*Contact Form*/
.contactForm{
  width: 100%;
  text-align: center;
  
}

#contactFormiFrame{
  width: 100%;
  min-height: 410px;


}
label{
  padding-left: 8px;
}
.messageSuccess{
  background-color: #4C995F;
  color: white;
  margin-bottom: 7px;
  margin-top: opx;
  padding: 4px;
  text-align: center;
}
.contactUs{
  font-family: quicksand;
  color: rgb(41, 40, 40);
  text-align: left;
}
.contactFormHeader{
  width: 100%;
  margin: auto;
  font-family: quicksand;
  color: rgb(41, 40, 40);
  text-align: center
}
/*Sosial media section*/

.social {
max-width: 400px;
margin:  auto;
float: none;
}
.soc-icon-img{
  width: 20%;
  padding: 5px;
}


/*audio player inside iframe*/

.album-thumbnail{
  width: 40%;
  margin: 5px;
  
}
.audioPlayerTop{
  background-color: #EFF1F4;
}
.audioPlayerBottom{
  padding-top: 5px;
}
.audio-title{
  position: absolute;
  top: 0px;
  left: 10px;
  padding-left: 40%;
  padding-top: 5px;
 
 
}

.audioPlayer{
  width: 100%;
}
#audioBox{
  width: 100%;
  background-color: #F0F3F4;
}
.audioControl{
  width: 20px;
}

#audioElement{
  width: inherit;
}

.playTimer{
  float: right;
 
}


/*Playlist inside iFrame*/
.playListActive{
  color: #904B3A;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}
.playList{
  padding-left: 5px;
  padding-right: 5px;
}
.playList a{
  color: #608C5D;
 
}
 .playList a:hover{
  color: #B59B4D;
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}
/*Album section*/
.album p{
  padding-top: 5px;
}
 .album{
   padding: 15px;
 }

.album > img{
  padding: 5px;
  border: solid 1px rgb(209, 207, 207);
 
}
.amazon{
  width: 100px;
  border: white solid 1px;
}
.amazon:hover{
   box-shadow: 0px 0px 9px 0px #0c4d0c;
}
/* Availability & Inquire button */
.btn-success{
  background-color: #608C5D;

}
.btn-success:hover{
  background-color:  rgb(63, 136, 57);
  border-color: rgb(63, 136, 57);
}

#btn-close{
  border: solid 1px rgb(146, 142, 142);
  font-family: quicksand;
  color: rgb(41, 40, 40);

}
/*video page*/
.col-video{

padding: 15px;
}


#video{
  width: 100%;
  margin-bottom: 10px
}
.video{
  padding: 5px;
}




/* Grid-view small screen devices (mobile First) */
[class*="column-"] {
  width: 100%;
  
 
  text-align: center;
}


/* Main Image *******************/
.col-mainIMG{
  width:100%;
  min-height: calc(100vw * 0.56);
 background-repeat: no-repeat;
 padding: 0px;
 background-image: url(../images/monkees.jpg);
 background-size: contain;
}



/*Bootstrap navigation bar**********************************************/

/* centered navigation menu */
.navbar-nav{
  margin: auto;
}
/*collapsed nav icon (toggler)*/
.custom-toggler.navbar-toggler {
  border: none;}

.custom-toggler .navbar-toggler-icon {  
  width: 45px;
  background-image: url("../../assets/images/toggler.png");}
  
.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;}

/*LOGO (in the navbar)*/
.navbar-brand{
  font-family: 'Gloria Hallelujah', cursive;
}
#navLogo{
  color: #904B3A;
}
.left{
  float: left
}


/**************************************************************************/



/* Availability calendar   ***************************************/

* {box-sizing: border-box;}
        ul {list-style-type: none;}
        body {font-family: Verdana, sans-serif;}
      
        
        .month {
          padding: 70px 25px;
          width: 100%;
          background: #608C5D;
          text-align: center;
        }
        
        .month ul {
          margin: 0;
          padding: 0;
        }
        
        .month ul li{
          color: white;
          font-size: 20px;
          text-transform: uppercase;
          letter-spacing: 3px;
        }
        
        .month .prev {
          float: left;
          padding-top: 10px;
        }
        
        .month .next {
          float: right;
          padding-top: 10px;
        }
        
        .weekdays {
          margin: 0;
          padding: 10px 0;
          background-color: #ddd;
        }
        
        .weekdays li {
          display: inline-block;
          width: 13.6%;
          color: #666;
          text-align: center;
        }
        
        .days {
          padding: 10px 0;
          background: #eee;
          margin: 0;
        }
        
        .days li {
          list-style-type: none;
          display: inline-block;
          width: 13.6%;
          text-align: center;
          margin-bottom: 5px;
          font-size:12px;
          color: #777;
        }
        
        .days li .available {
          padding: 5px;
          width: 10px;
          color: white;
          font-weight: bolder;
          background-color:   #608C5D;
          
        }
        
        .days li  .singleDgt {
          padding-left: 9px;
          padding-right: 9px;
        }
        
        .squareBox{
            padding-left: 6px;
            padding-right: 3px;
            padding-top: 2px;
            padding-bottom: 2px;
            color: white;
            font-weight: bolder;
        }
        #availableDates .squareBox{
          background-color: #608C5D;
        }
        #availableDates{
           padding-top: 5px;
        }
      

        #modalTxt{
          color: #666;
        }

        #btn-inquire{
          margin-left: 12px;
        }
        #btn-close{
          margin-right: 12px;
          
        }
        /* Media queries for smaller screens */
      
        @media screen and (max-width:770px) {
          .weekdays li, .days li {width: 12.9%;}
        }
        @media screen and (max-width:720px) {
          .weekdays li, .days li {width: 12.9%;}
        }
        
        @media screen and (max-width: 420px) {
          .weekdays li, .days li {width: 12.5%;}
          .days li .active {padding: 2px;}
        }
        
        @media screen and (max-width: 290px) {
          .weekdays li, .days li {width: 12.2%;}

        }
        @media screen and (min-width:769px) {
          .weekdays li, .days li {width: 12.9%;}
        }

        /* Calendar carousel coontrols */
        .carousel-control-prev-icon{ position:absolute;
                                    top: 90px
         }
        .carousel-control-next-icon{ position: absolute;
                                     top: 90px;
        }




/*Grid-view for medium size screens*/

        @media only screen and (min-width: 763px) {
          /* desktop: */ 
          .column-md-1 {width: 8.33%;}
          .column-md-2 {width: 16.66%;}
          .column-md-3 {width: 25%;}
          .column-md-4 {width: 33.33%;}
          .column-md-5 {width: 41.66%;}
          .column-md-6 {width: 50%;}
          .column-md-7 {width: 58.33%;}
          .column-md-8 {width: 66.66%;}
          .column-md-9 {width: 75%;}
          .column-md-10 {width: 83.33%;}
          .column-md-11 {width: 91.66%;}
          .column-md-12 {width: 100%;}

          .column-md-4 .audio-container{
            float: right;
          }.column-md-4 .album-container{
            float: left;
          }

          #videoAtIndex, #bandAtIndex {
            float: right;
          }
          #audioAtIndex, #albumAtIndex{
            float: left;
          }
          .audioPlayerIframe{
            width: 60%;
          
          }
        
        .audio-title{
          padding-left: 40%
        }
        .audio-title h6{
          font-size: large;
        }
        .column-md-4  #floatRight {
          float: right;
        }
        .column-md-4  #floatLeft {
          float: left;
        }
        .column-md-4  #floatNone {
          float: none;
        }
        #bio{
          padding-top: 15px;
          
   }
       
        
  /*Grid view for desktop*/        
        
        @media only screen and (min-width: 1025px) {
          /* desktop: */ 
          .column-lg-1 {width: 8.33%;}
          .column-lg-2 {width: 16.66%;}
          .column-lg-3 {width: 25%;}
          .column-lg-4 {width: 33.33%;}
          .column-lg-5 {width: 41.66%;}
          .column-lg-6 {width: 50%;}
          .column-lg-7 {width: 58.33%;}
          .column-lg-8 {width: 66.66%;}
          .column-lg-9 {width: 75%;}
          .column-lg-10 {width: 83.33%;}
          .column-lg-11 {width: 91.66%;}
          .column-lg-12 {width: 100%;}

          .col-mainIMG{
            min-height: calc(100vw * 0.5);
            margin-top: -30px;
          }
          #audioAtIndex, #videoAtIndex, #bandAtIndex, #albumAtIndex{
            float: none;
            max-width: 300px;
          }
          .container-main{
            width: 90%;
            margin:auto;
            padding-top: 65px;
 
          }
           .navbar{
             width: 90%;
             margin:auto;
             padding-left: 1px;
             padding-right: 1px;
             background-color: white;
           }
           .navbar-nav{
             padding-right: 50px;
             
           }
          
        
           
         
      
       
         
        }
 
@media only screen and (min-width: 1524px) {
  .col-mainIMG{
    margin-top: -50px;
    min-height: calc((100vw * 0.5) - 120px);
    background-size: 100%;
  }


  .column-xlg-1 {width: 8.33%;}
  .column-xlg-2 {width: 16.66%;}
  .column-xlg-3 {width: 25%;}
  .column-xlg-4 {width: 33.33%;}
  .column-xlg-5 {width: 41.66%;}
  .column-xlg-6 {width: 50%;}
  .column-xlg-7 {width: 58.33%;}
  .column-xlg-8 {width: 66.66%;}
  .column-xlg-9 {width: 75%;}
  .column-xlg-10 {width: 83.33%;}
  .column-xlg-11 {width: 91.66%;}
  .column-xlg-12 {width: 100%;}


 #slogan-check > #rock{
   padding-top: 20px;
   padding-right: 10px;
   text-align: right;
   width: 40%;

 } 
 #slogan-check > #btn-availability{
   padding-top: 20px;
   text-align: right;
   width: 10%;
 }
 #slogan-check > #slogan{
   text-align:left;
 }
 .column-sm-social{
   margin-top: -10px;
 }
}
 